<div class="col-md-4 offset-md-4" style="padding-top: 80px">
    <h5 class="text-center">Sign IN</h5>
    {{#each massages}}
    <div class="alert alert-danger">
        <p>{{this}}</p>
    </div>  
    {{/each}}
<form action="signin" method="post">
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" name="email" placeholder="Enter your Email" class="form-control">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input type="password" name="password" placeholder="Enter your password" class="form-control">
    </div>
    <input type="hidden" name="_csrf" value="{{token}}" >
    <button type="submit" class="btn btn-primary">signin</button>
</form>
</div>
